*{
    background-color: hsl(204, 43%, 93%);
    padding: 0%;
    margin: 0%;
}
@media screen and (orientation:portrait){
}
body{
    position: relative;
    top: 40px;
}
.m1{
    height: fit-content;
    width: fit-content;
    margin: auto;
    box-shadow: 0 0 10px lightslategray;
    }
.m2{
    display: grid;
    grid-template-columns:300px;
    grid-template-rows:233.33px 233.33px 233.33px ; 
}
.top{
    background-color: white;
}
.d1{
    background-color:hsl(179, 62%, 43%) ;
}
.d2{
    background-color:hsl(179, 62%, 48%) ;
}
.top h2{
    color:hsl(179, 62%, 43%);
    background-color: white;
    padding: 10px;
}
.top h4{
     color:hsl(71, 73%, 54%);
     background-color: white;
     padding: 10px;
}
.top p{
    color: lightgray;
    background-color: white;
    padding: 10px;
}
.d1 h2{
    background-color:hsl(179, 62%, 43%);
    padding: 10px;
    color: white;
}
.d1 h1{
    background-color:hsl(179, 62%, 43%) ;
    padding: 10px;
    color: white;
}
.d1 p{
    background-color:hsl(179, 62%, 43%) ;
    padding: 10px;
    color: white;
}
button{
    height: 50px;
    width: 230px;
    position: relative;
    left: 30px;
    top: 10px;
    color: white;
    border-radius: 10px;
    background-color: hsl(71, 73%, 54%);
}
.d2 h2{
    background-color:hsl(179, 62%, 48%) ;
    color: snow;
    padding: 10px;
}
.d2 h4{
    background-color:hsl(179, 62%, 48%) ;
    color: lightgray;
    padding: 10px;
}
@media screen and (max-width:400px) {
    body{
        position: relative;
        top: 40px;
    }
    .m1{
        height: fit-content;
        width: fit-content;
        margin: auto;
        box-shadow: 0 0 10px lightslategray;
        }
    .m2{
        display: grid;
        grid-template-columns:300px;
        grid-template-rows:233.33px 233.33px 233.33px ; 
    }
    .top{
        background-color: white;
    }
    .d1{
        background-color:hsl(179, 62%, 43%) ;
    }
    .d2{
        background-color:hsl(179, 62%, 48%) ;
    }
    .top h2{
        color:hsl(179, 62%, 43%);
        background-color: white;
        padding: 10px;
    }
    .top h4{
         color:hsl(71, 73%, 54%);
         background-color: white;
         padding: 10px;
    }
    .top p{
        color: lightgray;
        background-color: white;
        padding: 10px;
    }
    .d1 h2{
        background-color:hsl(179, 62%, 43%);
        padding: 10px;
        color: white;
    }
    .d1 h1{
        background-color:hsl(179, 62%, 43%) ;
        padding: 10px;
        color: white;
    }
    .d1 p{
        background-color:hsl(179, 62%, 43%) ;
        padding: 10px;
        color: white;
    }
    button{
        height: 50px;
        width: 230px;
        position: relative;
        left: 30px;
        top: 10px;
        color: white;
        border-radius: 10px;
        background-color: hsl(71, 73%, 54%);
    }
    .d2 h2{
        background-color:hsl(179, 62%, 48%) ;
        color: snow;
        padding: 10px;
    }
    .d2 h4{
        background-color:hsl(179, 62%, 48%) ;
        color: lightgray;
        padding: 10px;
    }
}
@media screen and (orientation:landscape){
    body{
        position: relative;
        top: 40px;
    }
    .m1{
        height: fit-content;
        width: fit-content;
        margin: auto;
        box-shadow: 0 0 10px lightslategray;
        }
    .m2{
        display: grid;
        grid-template-columns:300px 300px;
        grid-template-rows:250px 250px ; 
    }
    .top{
        grid-column: 1/3;
    }
    .top h2{
        color:hsl(179, 62%, 43%);
        background-color: white;
        padding: 25px;
    }
    .top h4{
         color:hsl(71, 73%, 54%);
         background-color: white;
         padding: 25px;
    }
    .top p{
        color: lightgray;
        background-color: white;
        padding: 25px;
}}